<mat-toolbar color="primary" class="mat-elevation-z3">
  <span class="spacer"></span>

  <span>To Do List</span>

  <span class="spacer"></span>
</mat-toolbar>

<div class="inputContainer">
  <mat-form-field class="fullWidth">
    <mat-label style="padding-left: 5px">New To Do</mat-label>
    <input
      matInput
      placeholder="Enter to-do description"
      #todoText
      (keyup.enter)="addItem(todoText.value); todoText.value = ''"
    />
    <button
      matSuffix
      mat-raised-button
      color="accent"
      class="addButton"
      (click)="addItem(todoText.value); todoText.value = ''"
    >
      Add
    </button>
  </mat-form-field>
</div>
  
<div class="item-list">
  <div class="item" *ngFor="let todo of items; let i = index">
    <div class="box-task">
      <div class="task">{{ todo.task }}</div>
    </div>
    <div class="box-time">
      <div class="time">{{ todo.time | date:'dd/mm/yyyy' }}</div>
    </div>
    <div class="done">
      <mat-checkbox [(ngModel)]="todo.complete" color="primary">
      </mat-checkbox>
    </div>
    <div class="delete" >
      <button (click)="deleteItem(i)">DELETE</button>
    </div>
  </div>
</div>
